<div class="collapse navbar-collapse" id="nav-content">   
        <ul class="navbar-nav mr-auto">
       <li class="nav-item">
         <a class="nav-link" href="userprofile.html">Profile</a>
       </li>
        <li class="nav-item">
       <a class="nav-link" href="favoriterecipes.html">Favorites</a>
      </li>
      </ul>
      
       <form class="form-inline" role="search">
       <input type="text" class="form-control">
      <button type="submit" class="btn btn-secondary">Search</button>
      </form>
       <ul class="navbar-nav mr-auto">
      <li class="nav-item">
       <a class="nav-link" href="login.html">Login</a>
      </li>
       <li class="nav-item">
       <a class="nav-link" href="recipesdetail.html">Recipe Detailst</a>
      </li>
        <li class="nav-item">
       <a class="nav-link" href="signup.html">Signup</a>
      </li>
        <li class="nav-item">
       <a class="nav-link" href="toprecipes.html">TopRecipes</a>
      </li>
        <li class="nav-item">
       <a class="nav-link" href="userprofile.html">Profile</a>
      </li>
    
      </ul>
     <!-- Search -->
      </nav>
    </div>
    
    