<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../../../favicon.ico">

    <title>Off Canvas Template for Bootstrap</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    
    <link href="../css/offcanvas.css" rel="stylesheet">
  </head>

  <body>
      <div class="collapse navbar-collapse" id="nav-content">   
        <ul class="navbar-nav mr-auto">
       <li class="nav-item">
         <a class="nav-link" href="userprofile.html">Profile</a>
       </li>
        <li class="nav-item">
       <a class="nav-link" href="favoriterecipes.html">Favorites</a>
      </li>
      </ul><link href="blog.css" rel="stylesheet">
       <form class="form-inline" role="search">
       <input type="text" class="form-control">
      <button type="submit" class="btn btn-secondary">Search</button>
      </form>
       <ul class="navbar-nav mr-auto">
      <li class="nav-item">
       <a class="nav-link" href="login.html">Login</a>
      </li>
       <li class="nav-item">
       <a class="nav-link" href="recipesdetail.html">Recipe Detailst</a>
      </li>
        <li class="nav-item">
       <a class="nav-link" href="signup.html">Signup</a>
      </li>
        <li class="nav-item">
       <a class="nav-link" href="toprecipes.html">TopRecipes</a>
      </li>
        <li class="nav-item">
       <a class="nav-link" href="userprofile.html">Profile</a>
      </li>
    
      </ul>
      </nav>
    </div>

    <nav class="navbar navbar-expand-md fixed-top navbar-dark bg-dark">
      <a class="navbar-brand" href="#">Navbar</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" href="#">Disabled</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="http://example.com" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown</a>
            <div class="dropdown-menu" aria-labelledby="dropdown01">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
      </div>
    </nav>

    <div class="container">

      <div class="row row-offcanvas row-offcanvas-right">

        <div class="col-12 col-md-9">
          <p class="float-right d-md-none">
            <button type="button" class="btn btn-primary btn-sm" data-toggle="offcanvas">Toggle nav</button>
          </p>
          <div class="jumbotron">
            <h1>Meal Tips</h1>
            <p>This is an example to show the potential of an offcanvas layout pattern in Bootstrap. Try some responsive-range viewport sizes to see it in action.</p>
          </div>
          <div class="row">
            <div class="col-6 col-lg-4">
              <h2>How to Season and Grill Chicken</h2>
            <p>Deep-frying chicken is a no-no if you want to eat healthy, learn how to prepare your chicken without frying. </p>
              <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
            </div><!--/span-->
            <div class="col-6 col-lg-4">
              <h2>How to Remove Beans Coat</h2>
              <p>Some Nigerian beans recipes require you to remove the beans coat before preparing the recipes. </p>
              <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
            </div><!--/span-->
            <div class="col-6 col-lg-4">
              <h2>How to Care for your Pots and Pans</h2>
              <p>The pots and pans that hold your food need tender loving care too. Learn how you can make your pots last and last and last. </p>
              <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
            </div><!--/span-->
            <div class="col-6 col-lg-4">
              <h2>Top 10 Kitchen Tools</h2>
              <p>These are the top 10 kitchen tools you will always need in your kitchen. They are simple basic kitchen tools yet so useful</p>
              <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
            </div><!--/span-->
            <div class="col-6 col-lg-4">
              <h2>How to Become a Better Cook</h2>
              <p>Learn how to become better at what you already love doing and impress your friends with your new-found culinary skills. </p>
              <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
            </div><!--/span-->
            <div class="col-6 col-lg-4">
              <h2>Biggest Nigerian Food Ingredients Haul</h2>
              <p>Watch and see all the Nigerian ingredients I brought back from my trip to Nigeria! It will help you in writing your Nigerian food ingredients list for your next visit. </p>
              <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
            </div><!--/span-->
          </div><!--/row-->
        </div><!--/span-->

        <div class="col-6 col-md-3 sidebar-offcanvas" id="sidebar">
          <div class="list-group">
            <a href="#" class="list-group-item active">Sample Recipes</a>
            <a href="#" class="list-group-item">Beans recipes</a>
            <a href="#" class="list-group-item">Breakfast recipes</a>
            <a href="#" class="list-group-item">Cakes recipes</a>
            <a href="#" class="list-group-item">Chicken recipes</a>
            <a href="#" class="list-group-item">Coconut recipes</a>
            <a href="#" class="list-group-item">Cocoyam recipes</a>
            <a href="#" class="list-group-item">Bread recipes</a>
            <a href="#" class="list-group-item">Rice recipes</a>
            <a href="#" class="list-group-item">Desserts</a>
          </div>
        </div><!--/span-->
      </div><!--/row-->

      <hr>

      <footer>
        <p>&copy; Company 2017</p>
      </footer>

    </div><!--/.container-->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="../../../../assets/js/vendor/popper.min.js"></script>
    <script src="../../../../dist/js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../../../assets/js/ie10-viewport-bug-workaround.js"></script>
    <script src="offcanvas.js"></script>
  </body>
</html>