<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
   

    <title>Signin Template for Bootstrap</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    
    <link href="../css/signin.css" rel="stylesheet">   
  </head>

  <body>

    <div class="container">

      <form class="form-signin">
        <h2 class="form-signin-heading">Please sign up</h2>
        <label for="inputName" class="sr-only">Fullname</label>
        <input type="test" id="inputEmail" class="form-control" placeholder="Enter your full name here" required autofocus><br/>
        <label for="inputName" class="sr-only">Email address</label>
        <input type="test" id="inputEmail" class="form-control" placeholder="Enter your email address" required autofocus><br/>
        <label for="inputName" class="sr-only">Password</label>
        <input type="password" id="inputEmail" class="form-control" placeholder="Enter your password" required autofocus><br/>
        <label for="inputName" class="sr-only">Confirm Password</label>
        <input type="password" id="inputEmail" class="form-control" placeholder="Confirm password" required autofocus><br/>
                <div class="checkbox">
          <label>
            <input type="checkbox" value="remember-me"> Remember me
          </label>
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
      </form>

    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../../../assets/js/ie10-viewport-bug-workaround.js"></script>
  </body>
</html>